- provide(:title, t("path.controllers.lodge/#{controller.controller_name}.title"))
.col-md-12
  = render partial: "subnav"
  .col-md-6
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th
          %th= t "mongoid.attributes.tread.nuid"
          %th= t "mongoid.attributes.tread.title"
          %th= t "mongoid.attributes.tread.posts_count"
          %th
      %tbody
        = render treads
  .clearfix
  = will_paginate treads