- provide(:title, t("path.controllers.lodge/#{controller.controller_name}.show"))
.row
  .col-lg-12
    %h1.page-header= "#{board.title} - #{t("path.controllers.lodge/#{controller.controller_name}.show")}"
.row
  #js-board-statistics
    .col-lg-12
      .panel.panel-default
        .panel-heading
          Постинг
        .panel-body
          #js-morris-area-posts-count
    .col-lg-12
      .panel.panel-default
        .panel-heading
          Посетители
        .panel-body
          #js-morris-area-views-count
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Список тредов
      .panel-body
        .dataTable_wrapper
          %table#dataTables-example.table.table-striped.table-bordered.table-hover
            %thead
              %thead
                %tr
                  %th
                  %th= t "mongoid.attributes.tread.board_id"
                  %th= t "mongoid.attributes.tread.id"
                  %th= t "mongoid.attributes.tread.title"
                  %th= t "mongoid.attributes.tread.posts_count"
                  %th= t "mongoid.attributes.tread.request_ip"
                  %th
              %tbody= render treads
        = will_paginate treads
