- provide(:title, t("path.controllers.lodge/#{controller.controller_name}.show"))
.row
  .col-lg-12
    %h1.page-header= "#{board.title} - #{t("path.controllers.lodge/#{controller.controller_name}.show")}"
.row#board
  #js-board-statistics
    .col-lg-12
      .panel.panel-default
        .panel-heading
          Постинг
        .panel-body
          #js-morris-area-posts-count
    .col-lg-12
      .panel.panel-default
        .panel-heading
          Посетители
        .panel-body
          #js-morris-area-views-count
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Список тредов
      .panel-body#threads
        = render partial: 'lodge/boards/treads'
