%tr
  %td
    - if post.is_published
      %span.glyphicon.glyphicon-eye-open
    - else
      %span.glyphicon.glyphicon-eye-close
  %td
    - if post.image && post.image.file?
      = image_tag post.image.url, class: 'thumbnail'
    - elsif post.video && post.video.file?
      = video_tag post.video.url, class: 'thumbnail', controls: true, width: 300, poster: post.video.url(:preview)
  %td= post.content.html_safe
  %td
    - if post.request_ip
      = IPAddr.new_ntoh(post.request_ip)
  %td
    = link_to edit_lodge_tread_post_path(tread, post), class: "btn" do
      %span.glyphicon.glyphicon-pencil
    = link_to lodge_tread_post_path(tread, post), class: "btn btn-danger", method: :delete,  data: { confirm: "Уверены?" } do
      %span.glyphicon.glyphicon-trash
