<ul class="header list-inline">
  <li></li>
  <li><%= moment(created_at).format('D MMMM YYYY HH:mm:ss') %></li>
  <li>
    <a href="/<%= board_abbr %>/<%= tread_id %>"><%= tread_id.substr(_id.$oid.length - 7) %></a>
    <a href="/<%= board_abbr %>/<%= tread_id %>#<%= _id.$oid %>">#<%= _id.$oid.substr(_id.$oid.length - 7) %></a>
  </li>
</ul>
<div class="body row">
  <% if(image) { %>
    <div class="col-lg-2 col-md-12">
      <a href="<%= image %>" class="attachment"><img class="img-responsive img-thumbnail" src="<%= image_thumb %>">
      </a>
    </div>
  <% } %>
  <div class="col-lg-10 col-md-12 content"><%= content %></div>
</div>
<div class="footer post-form">
  <% if(replies) {%>
    <ul class="list-inline">
      <li>
        <small>Ответы:</small>
      </li>
      <% replies.forEach( function (arrayItem) { %>
        <%
          var tread_id = arrayItem.tread_id.$oid
          var link = tread_id
          var short = tread_id.substr(tread_id.length - 7)
          if(arrayItem.post_id){
            var post_id = arrayItem.post_id.$oid
            link += '#' + post_id
            short += '#' + (post_id.substr(post_id.length - 7))
          }
        %>
        <li class='reply'>
          <a class="text-muted" href="/<%= arrayItem.board_abbr %>/<%= link %>"><small>&gt;&gt;<%= short %></small>
          </a>
        </li>
      <% }) %>
    </ul>
  <% } %>
  <button class="btn btn-default btn-sm" data-abbr="<%= window.location.pathname.split('/')[1] %>" data-id="<%= tread_id %>" data-reply="<%= _id.$oid %>" id="answer">Ответить</button>
  <button class="btn btn-default btn-sm" id="hide" style="display: none;">
    Скрыть форму
  </button>
  <div id="form"></div>
</div>
