- cache tread do
  .thread
    %article.well
      %ul.header.list-inline
        %li
          = link_to tread_path(tread.board.abbr, tread.id) do
            %h3= tread.title
        - if tread.is_pinned?
          %li
            %span.glyphicon.glyphicon-pushpin
        - unless tread.is_commentable?
          %li
            %span.glyphicon.glyphicon-lock
        %li= Russian::strftime tread.published_at, '%d %B %Y %H:%M:%S'
        %li
          = link_to tread.id.to_s.last(7), tread_path(tread.board.abbr, tread.id)
      .body.row
        - if tread.image && tread.image.file?
          .col-lg-3.col-md-12
            = link_to tread.image.url(:original), class: 'attachment', data: {content_type: tread.image.file.content_type} do
              = image_tag tread.image.url, size: '260x260', class: 'img-responsive img-thumbnail'
        - elsif tread.video && tread.video.file?
          .col-lg-3.col-md-12
            = link_to tread.video.url, class: 'attachment', data: {content_type: tread.video.file.content_type} do
              = image_tag tread.video.url(:preview), width: '260', class: 'img-responsive img-thumbnail'
        .col-lg-9.col-md-12
          .content= tread.content.html_safe
      .footer.post-form
        - if tread.replies
          %ul.list-inline
            %li
              %small Ответы:
            - tread.replies.each do |p|
              %li.reply
                = link_to "/#{p['board_abbr']}/#{p['tread_id']}#{'#' + p['post_id'] if p['post_id']}", class: 'text-muted' do
                  %small= ">>#{p['tread_id'].to_s.last(7)}#{'#' + p['post_id'].to_s.last(7) if p['post_id']}"
        - if tread.is_commentable?
          %button.btn.btn-default.btn-sm.js-show-answer{data: {abbr: tread.board.abbr, id: tread.id, reply: tread.id}} Ответить
          %button.btn.btn-default.btn-sm.js-hide-answer{style: 'display: none;'}
            Скрыть форму
          .form
    - if tread.posts.published.any?
      .posts
        - if tread.posts.published.count - 1 > 0
          %p.text-muted
            = Russian.p(tread.posts.published.count - 1, "Пропущен", "Пропущено", "Пропущено")
            = tread.posts.published.count - 1
            = link_to Russian.p(tread.posts.published.count - 1, "ответ", "ответа", "ответов"), tread_path(tread.board.abbr, tread.id, {anchor: 'posts'})
        = render tread.posts.published.last
