.thread
  %article.well
    %ul.header.list-inline
      %li
        = link_to '#' do
          %h3= tread.title
      %li= Russian::strftime tread.created_at, '%a %d %B %Y %H:%M:%S'
      %li
        = link_to "##{tread.nuid}", '#'
    .body
      = link_to '#' do
        = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail pull-left'
      = tread.content.html_safe
    .footer