- provide(:title, "#{entry.board.title} - #{entry.title}")
#tread
  .col-md-12.post-form
    %button{class: 'btn well', id: 'answer', data: {abbr: entry.board.abbr, id: entry.id}}
      Ответить
    %button{class: 'btn well', id: 'hide', style: 'display: none;'}
      Скрыть форму
    #form
  .clearfix
  .col-md-12
    .thread
      %article.well
        %ul.header.list-inline
          %li
            = link_to tread_path(entry.board.abbr, entry.id) do
              %h3= entry.title
          - if entry.is_pinned
            %li
              %span.glyphicon.glyphicon-pushpin
          %li= Russian::strftime entry.published_at, '%d %B %Y %H:%M:%S'
          %li
            = link_to entry.id.to_s.last(7), tread_path(entry.board.abbr, entry.id)
        .body.row
          .col-lg-2.col-md-12
            = link_to '#' do
              = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail'
          .col-lg-10.col-md-12= entry.content.html_safe
        .footer.post-form
          %button{class: 'btn btn-default btn-sm', id: 'answer', data: {abbr: entry.board.abbr, id: entry.id, reply: entry.id}}
            Ответить
          %button{class: 'btn btn-default btn-sm', id: 'hide', style: 'display: none;'}
            Скрыть форму
          #form
      #posts
        .posts= render posts
  .col-md-12.post-form.page-footer
    %button{class: 'btn well', id: 'answer', data: {abbr: entry.board.abbr, id: entry.id}}
      Ответить
    %button{class: 'btn well', id: 'hide', style: 'display: none;'}
      Скрыть форму
    #form
