- provide(:title, "#{board.title} - #{tread.title}")
.col-md-6
  .well= render partial: 'form'
.clearfix
.col-md-12
  .thread
    %article.well
      %ul.header.list-inline
        %li
          = link_to tread_path(board.abbr, tread.id) do
            %h3= tread.title
        %li= Russian::strftime tread.published_at, '%a %d %B %Y %H:%M:%S'
        %li
          = link_to tread.id.to_s.last(7), tread_path(board.abbr, tread.id)
      .body.row
        .col-md-2
          = link_to '#' do
            = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail'
        .col-md-10= tread.content.html_safe
      .footer
    .posts#posts
      = render posts
.col-md-6.page-footer
  .well= render partial: 'form'