- cache "tread/show/#{entry.id}/#{entry.updated_at.to_i}/#{posts.last.try(:id)}/#{posts.last.try(:updated_at).to_i}" do
  - provide(:title, "#{entry.board.title} - #{entry.title}")
  #tread
    .col-md-12.post-form
      - if entry.is_commentable?
        %button.btn.well.js-show-answer{data: {abbr: entry.board.abbr, id: entry.id}}
          Ответить
        %button.btn.well.js-hide-answer{style: 'display: none;'}
          Скрыть форму
        .form
    .clearfix
    .col-md-12
      .thread
        %article.well
          %ul.header.list-inline
            %li
              = link_to tread_path(entry.board.abbr, entry.id) do
                %h3= entry.title
            - if entry.is_pinned?
              %li
                %span.glyphicon.glyphicon-pushpin
            - unless entry.is_commentable?
              %li
                %span.glyphicon.glyphicon-lock
            %li= Russian::strftime entry.published_at, '%d %B %Y %H:%M:%S'
            %li
              = link_to entry.id.to_s.last(7), tread_path(entry.board.abbr, entry.id)
          .body.row
            - if entry.image && entry.image.file?
              .col-lg-3.col-md-12
                = link_to entry.image.url(:original), size: '260x260', class: 'attachment', data: {content_type: entry.image.file.content_type} do
                  = image_tag entry.image.url, class: 'img-responsive img-thumbnail'
            - elsif entry.video && entry.video.file?
              .col-lg-3.col-md-12
                = link_to entry.video.url, class: 'attachment', data: {content_type: entry.video.file.content_type} do
                  = image_tag entry.video.url(:preview), width: '260', class: 'img-responsive img-thumbnail'
            .col-lg-9.col-md-12
              .content= entry.content.html_safe
          .footer.post-form
            - if entry.replies
              %ul.list-inline
                %li
                  %small Ответы:
                - entry.replies.each do |p|
                  %li.reply
                    = link_to "/#{p['board_abbr']}/#{p['tread_id']}#{'#' + p['post_id'] if p['post_id']}", class: 'text-muted' do
                      %small= ">>#{p['tread_id'].to_s.last(7)}#{'#' + p['post_id'].to_s.last(7) if p['post_id']}"
            - if entry.is_commentable?
              %button.btn.btn-default.btn-sm.js-show-answer{data: {abbr: entry.board.abbr, id: entry.id, reply: entry.id}}
                Ответить
              %button.btn.btn-default.btn-sm.js-hide-answer{style: 'display: none;'}
                Скрыть форму
              .form
        #posts
          .posts= render posts
    .col-md-12.post-form.page-footer
      - if entry.is_commentable?
        %button.btn.well.js-show-answer{data: {abbr: entry.board.abbr, id: entry.id}}
          Ответить
        %button.btn.well.js-hide-answer{style: 'display: none;'}
          Скрыть форму
        .form
