= render 'layouts/csrf'
= form_for tread, url: board_path(entry.abbr), authenticity_token: true, html: {role: 'form', class: 'form-horizontal', remote: true, 'data-type' => :json}  do |f|
  .form-group
    = f.label :title, class: "control-label"
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :content, class: "control-label"
    = f.text_area :content, rows: 10, class: "form-control"
    .controls
      - unless user_signed_in? || admin_signed_in?
        .captcha= recaptcha_tags ajax: true
      = f.fields_for :image do |img_form|
        %a{class: "upload-file btn btn-sm btn-primary"}
          %b
            Загрузить изображение
        = img_form.file_field :file, accept: 'image/png,image/gif,image/jpeg', id: 'fileupload'
        %span{class: "uploading-filename"}
  = f.submit t('form.submit'), class: 'btn btn-primary'
