- provide(:title, 'Название доски')
.col-md-6
  .well
    %form{role: "form", class: 'form-horizontal'}
      .form-group
        %label{for: "title", class: "col-md-2 control-label"} Тема
        .col-md-10
          %input{type: "text", class: "form-control", id: 'title'}
      .form-group
        %label{for: "content", class: "col-md-2 control-label"} Содержимое
        .col-md-10
          %textarea{type: "text", rows: "10", class: "form-control", id: 'content'}
      %button{type: "submit", class: "btn btn-primary"} Отправить
.clearfix
.col-md-12
  .thread
    %article.well
      %ul.header.list-inline
        %li
          %h3 Тема треда
        %li
          Суб 02 Ноя 2013 02:42:19 
        %li
          = link_to '#1', '#'
      .body
        = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail pull-left'
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque, ipsum non ornare rutrum, sapien quam condimentum lectus, sed dignissim felis ligula et sem. Quisque sed nulla eget tellus sagittis facilisis. Proin cursus interdum vehicula. Sed massa justo, iaculis sit amet lacus ac, ultrices accumsan arcu. Duis scelerisque sit amet sem at pharetra. Suspendisse tincidunt ligula sem, in vulputate metus mollis id. Phasellus mollis eros nisi, at fringilla leo commodo in. Sed dignissim facilisis placerat. Sed hendrerit dolor quis velit eleifend, a placerat turpis elementum. Donec a metus eu lectus lacinia sagittis vel eu nibh. Vestibulum varius lobortis metus a congue. Vestibulum accumsan felis sollicitudin, eleifend dui et, pulvinar ante. Suspendisse vitae rhoncus felis. Integer tempor, leo id lacinia adipiscing, erat purus mollis arcu, at mattis massa purus at arcu. Suspendisse vel velit ac ipsum volutpat auctor.
        %p
          Integer tristique eleifend nisi, non sodales eros egestas at. Nam eget tellus porttitor, tempus mauris ac, aliquet ante. Maecenas iaculis felis luctus bibendum fermentum. Duis at viverra nunc. Vestibulum augue diam, molestie sed mollis ac, luctus a nulla. Sed gravida, nunc et facilisis mattis, dui eros molestie enim, non eleifend felis lorem ac justo. Donec at justo dictum, rutrum purus ut, congue magna. Sed id risus sagittis, adipiscing quam nec, venenatis dui. Aliquam id urna posuere, convallis nibh auctor, pharetra dolor. In hac habitasse platea dictumst. Nam id magna nisi. Aenean eget sollicitudin enim, sit amet vulputate metus. Sed vitae sem vel turpis malesuada suscipit.
        %p
          Etiam pharetra nec velit in condimentum. Vestibulum ac lacinia diam, eget suscipit enim. Ut sodales tincidunt tortor sit amet faucibus. Fusce non lacus molestie, dignissim velit pellentesque, egestas purus. Mauris euismod non odio nec mollis. Fusce rhoncus, orci id volutpat mattis, dolor lectus facilisis nisl, sit amet fringilla mi tellus id enim. Morbi id tincidunt metus. Cras ultricies sed augue sed convallis. Nullam porta feugiat dui vitae consequat. Pellentesque imperdiet lacinia nunc. Integer lacinia, odio dignissim iaculis scelerisque, eros mi ornare est, sit amet fringilla enim urna vel libero. Duis molestie sapien sed adipiscing dictum.
        %p
          Nullam quis dapibus sapien. Phasellus dignissim fermentum magna eget egestas. Etiam ullamcorper, tellus vel luctus ornare, arcu leo sodales libero, eu gravida metus tellus eget mauris. Nulla faucibus vestibulum turpis, sed malesuada tortor euismod ut. Integer molestie odio mi, eget lacinia metus tincidunt eu. Donec purus risus, vestibulum nec ante eget, dictum lacinia massa. Pellentesque vestibulum lacus nec tellus lacinia tincidunt. Morbi sapien eros, scelerisque vitae volutpat vitae, vehicula eu quam. Maecenas rhoncus viverra eleifend.
      .footer
    %p.text-muted 
      Пропущено 10 
      = link_to 'ответов', '#'
    %article.well
      %ul.header.list-inline
        %li
        %li
          Суб 02 Ноя 2013 05:43:19 
        %li
          = link_to '#12', '#'
      .body
        = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail pull-left'
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque, ipsum non ornare rutrum, sapien quam condimentum lectus, sed dignissim felis ligula et sem. Quisque sed nulla eget tellus sagittis facilisis. Proin cursus interdum vehicula. Sed massa justo, iaculis sit amet lacus ac, ultrices accumsan arcu. Duis scelerisque sit amet sem at pharetra. Suspendisse tincidunt ligula sem, in vulputate metus mollis id. Phasellus mollis eros nisi, at fringilla leo commodo in. Sed dignissim facilisis placerat. Sed hendrerit dolor quis velit eleifend, a placerat turpis elementum. Donec a metus eu lectus lacinia sagittis vel eu nibh. Vestibulum varius lobortis metus a congue. Vestibulum accumsan felis sollicitudin, eleifend dui et, pulvinar ante. Suspendisse vitae rhoncus felis. Integer tempor, leo id lacinia adipiscing, erat purus mollis arcu, at mattis massa purus at arcu. Suspendisse vel velit ac ipsum volutpat auctor.
        %p
          Integer tristique eleifend nisi, non sodales eros egestas at. Nam eget tellus porttitor, tempus mauris ac, aliquet ante. Maecenas iaculis felis luctus bibendum fermentum. Duis at viverra nunc. Vestibulum augue diam, molestie sed mollis ac, luctus a nulla. Sed gravida, nunc et facilisis mattis, dui eros molestie enim, non eleifend felis lorem ac justo. Donec at justo dictum, rutrum purus ut, congue magna. Sed id risus sagittis, adipiscing quam nec, venenatis dui. Aliquam id urna posuere, convallis nibh auctor, pharetra dolor. In hac habitasse platea dictumst. Nam id magna nisi. Aenean eget sollicitudin enim, sit amet vulputate metus. Sed vitae sem vel turpis malesuada suscipit.
      .footer
    %article.well
      %ul.header.list-inline
        %li
        %li
          Суб 02 Ноя 2013 05:55:43 
        %li
          = link_to '#13', '#'
      .body
        = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail pull-left'
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque, ipsum non ornare rutrum, sapien quam condimentum lectus, sed dignissim felis ligula et sem. Quisque sed nulla eget tellus sagittis facilisis. Proin cursus interdum vehicula. Sed massa justo, iaculis sit amet lacus ac, ultrices accumsan arcu. Duis scelerisque sit amet sem at pharetra. Suspendisse tincidunt ligula sem, in vulputate metus mollis id. Phasellus mollis eros nisi, at fringilla leo commodo in. Sed dignissim facilisis placerat. Sed hendrerit dolor quis velit eleifend, a placerat turpis elementum. Donec a metus eu lectus lacinia sagittis vel eu nibh. Vestibulum varius lobortis metus a congue. Vestibulum accumsan felis sollicitudin, eleifend dui et, pulvinar ante. Suspendisse vitae rhoncus felis. Integer tempor, leo id lacinia adipiscing, erat purus mollis arcu, at mattis massa purus at arcu. Suspendisse vel velit ac ipsum volutpat auctor.
        %p
          Integer tristique eleifend nisi, non sodales eros egestas at. Nam eget tellus porttitor, tempus mauris ac, aliquet ante. Maecenas iaculis felis luctus bibendum fermentum. Duis at viverra nunc. Vestibulum augue diam, molestie sed mollis ac, luctus a nulla. Sed gravida, nunc et facilisis mattis, dui eros molestie enim, non eleifend felis lorem ac justo. Donec at justo dictum, rutrum purus ut, congue magna. Sed id risus sagittis, adipiscing quam nec, venenatis dui. Aliquam id urna posuere, convallis nibh auctor, pharetra dolor. In hac habitasse platea dictumst. Nam id magna nisi. Aenean eget sollicitudin enim, sit amet vulputate metus. Sed vitae sem vel turpis malesuada suscipit.
      .footer
    %article.well
      %ul.header.list-inline
        %li
        %li
          Суб 02 Ноя 2013 06:02:25 
        %li
          = link_to '#14', '#'
      .body
        = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail pull-left'
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque, ipsum non ornare rutrum, sapien quam condimentum lectus, sed dignissim felis ligula et sem. Quisque sed nulla eget tellus sagittis facilisis. Proin cursus interdum vehicula. Sed massa justo, iaculis sit amet lacus ac, ultrices accumsan arcu. Duis scelerisque sit amet sem at pharetra. Suspendisse tincidunt ligula sem, in vulputate metus mollis id. Phasellus mollis eros nisi, at fringilla leo commodo in. Sed dignissim facilisis placerat. Sed hendrerit dolor quis velit eleifend, a placerat turpis elementum. Donec a metus eu lectus lacinia sagittis vel eu nibh. Vestibulum varius lobortis metus a congue. Vestibulum accumsan felis sollicitudin, eleifend dui et, pulvinar ante. Suspendisse vitae rhoncus felis. Integer tempor, leo id lacinia adipiscing, erat purus mollis arcu, at mattis massa purus at arcu. Suspendisse vel velit ac ipsum volutpat auctor.
        %p
          Integer tristique eleifend nisi, non sodales eros egestas at. Nam eget tellus porttitor, tempus mauris ac, aliquet ante. Maecenas iaculis felis luctus bibendum fermentum. Duis at viverra nunc. Vestibulum augue diam, molestie sed mollis ac, luctus a nulla. Sed gravida, nunc et facilisis mattis, dui eros molestie enim, non eleifend felis lorem ac justo. Donec at justo dictum, rutrum purus ut, congue magna. Sed id risus sagittis, adipiscing quam nec, venenatis dui. Aliquam id urna posuere, convallis nibh auctor, pharetra dolor. In hac habitasse platea dictumst. Nam id magna nisi. Aenean eget sollicitudin enim, sit amet vulputate metus. Sed vitae sem vel turpis malesuada suscipit.
      .footer
  .thread
    %article.well
      %ul.header.list-inline
        %li
          %h3 Тема треда
        %li
          Суб 02 Ноя 2013 02:42:19 
        %li
          = link_to '#1', '#'
      .body
        = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail pull-left'
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque, ipsum non ornare rutrum, sapien quam condimentum lectus, sed dignissim felis ligula et sem. Quisque sed nulla eget tellus sagittis facilisis. Proin cursus interdum vehicula. Sed massa justo, iaculis sit amet lacus ac, ultrices accumsan arcu. Duis scelerisque sit amet sem at pharetra. Suspendisse tincidunt ligula sem, in vulputate metus mollis id. Phasellus mollis eros nisi, at fringilla leo commodo in. Sed dignissim facilisis placerat. Sed hendrerit dolor quis velit eleifend, a placerat turpis elementum. Donec a metus eu lectus lacinia sagittis vel eu nibh. Vestibulum varius lobortis metus a congue. Vestibulum accumsan felis sollicitudin, eleifend dui et, pulvinar ante. Suspendisse vitae rhoncus felis. Integer tempor, leo id lacinia adipiscing, erat purus mollis arcu, at mattis massa purus at arcu. Suspendisse vel velit ac ipsum volutpat auctor.
        %p
          Integer tristique eleifend nisi, non sodales eros egestas at. Nam eget tellus porttitor, tempus mauris ac, aliquet ante. Maecenas iaculis felis luctus bibendum fermentum. Duis at viverra nunc. Vestibulum augue diam, molestie sed mollis ac, luctus a nulla. Sed gravida, nunc et facilisis mattis, dui eros molestie enim, non eleifend felis lorem ac justo. Donec at justo dictum, rutrum purus ut, congue magna. Sed id risus sagittis, adipiscing quam nec, venenatis dui. Aliquam id urna posuere, convallis nibh auctor, pharetra dolor. In hac habitasse platea dictumst. Nam id magna nisi. Aenean eget sollicitudin enim, sit amet vulputate metus. Sed vitae sem vel turpis malesuada suscipit.
        %p
          Etiam pharetra nec velit in condimentum. Vestibulum ac lacinia diam, eget suscipit enim. Ut sodales tincidunt tortor sit amet faucibus. Fusce non lacus molestie, dignissim velit pellentesque, egestas purus. Mauris euismod non odio nec mollis. Fusce rhoncus, orci id volutpat mattis, dolor lectus facilisis nisl, sit amet fringilla mi tellus id enim. Morbi id tincidunt metus. Cras ultricies sed augue sed convallis. Nullam porta feugiat dui vitae consequat. Pellentesque imperdiet lacinia nunc. Integer lacinia, odio dignissim iaculis scelerisque, eros mi ornare est, sit amet fringilla enim urna vel libero. Duis molestie sapien sed adipiscing dictum.
        %p
          Nullam quis dapibus sapien. Phasellus dignissim fermentum magna eget egestas. Etiam ullamcorper, tellus vel luctus ornare, arcu leo sodales libero, eu gravida metus tellus eget mauris. Nulla faucibus vestibulum turpis, sed malesuada tortor euismod ut. Integer molestie odio mi, eget lacinia metus tincidunt eu. Donec purus risus, vestibulum nec ante eget, dictum lacinia massa. Pellentesque vestibulum lacus nec tellus lacinia tincidunt. Morbi sapien eros, scelerisque vitae volutpat vitae, vehicula eu quam. Maecenas rhoncus viverra eleifend.
      .footer
    %p.text-muted 
      Пропущено 10 
      = link_to 'ответов', '#'
    %article.well
      %ul.header.list-inline
        %li
        %li
          Суб 02 Ноя 2013 05:43:19 
        %li
          = link_to '#12', '#'
      .body
        = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail pull-left'
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque, ipsum non ornare rutrum, sapien quam condimentum lectus, sed dignissim felis ligula et sem. Quisque sed nulla eget tellus sagittis facilisis. Proin cursus interdum vehicula. Sed massa justo, iaculis sit amet lacus ac, ultrices accumsan arcu. Duis scelerisque sit amet sem at pharetra. Suspendisse tincidunt ligula sem, in vulputate metus mollis id. Phasellus mollis eros nisi, at fringilla leo commodo in. Sed dignissim facilisis placerat. Sed hendrerit dolor quis velit eleifend, a placerat turpis elementum. Donec a metus eu lectus lacinia sagittis vel eu nibh. Vestibulum varius lobortis metus a congue. Vestibulum accumsan felis sollicitudin, eleifend dui et, pulvinar ante. Suspendisse vitae rhoncus felis. Integer tempor, leo id lacinia adipiscing, erat purus mollis arcu, at mattis massa purus at arcu. Suspendisse vel velit ac ipsum volutpat auctor.
        %p
          Integer tristique eleifend nisi, non sodales eros egestas at. Nam eget tellus porttitor, tempus mauris ac, aliquet ante. Maecenas iaculis felis luctus bibendum fermentum. Duis at viverra nunc. Vestibulum augue diam, molestie sed mollis ac, luctus a nulla. Sed gravida, nunc et facilisis mattis, dui eros molestie enim, non eleifend felis lorem ac justo. Donec at justo dictum, rutrum purus ut, congue magna. Sed id risus sagittis, adipiscing quam nec, venenatis dui. Aliquam id urna posuere, convallis nibh auctor, pharetra dolor. In hac habitasse platea dictumst. Nam id magna nisi. Aenean eget sollicitudin enim, sit amet vulputate metus. Sed vitae sem vel turpis malesuada suscipit.
      .footer
    %article.well
      %ul.header.list-inline
        %li
        %li
          Суб 02 Ноя 2013 05:55:43 
        %li
          = link_to '#13', '#'
      .body
        = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail pull-left'
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque, ipsum non ornare rutrum, sapien quam condimentum lectus, sed dignissim felis ligula et sem. Quisque sed nulla eget tellus sagittis facilisis. Proin cursus interdum vehicula. Sed massa justo, iaculis sit amet lacus ac, ultrices accumsan arcu. Duis scelerisque sit amet sem at pharetra. Suspendisse tincidunt ligula sem, in vulputate metus mollis id. Phasellus mollis eros nisi, at fringilla leo commodo in. Sed dignissim facilisis placerat. Sed hendrerit dolor quis velit eleifend, a placerat turpis elementum. Donec a metus eu lectus lacinia sagittis vel eu nibh. Vestibulum varius lobortis metus a congue. Vestibulum accumsan felis sollicitudin, eleifend dui et, pulvinar ante. Suspendisse vitae rhoncus felis. Integer tempor, leo id lacinia adipiscing, erat purus mollis arcu, at mattis massa purus at arcu. Suspendisse vel velit ac ipsum volutpat auctor.
        %p
          Integer tristique eleifend nisi, non sodales eros egestas at. Nam eget tellus porttitor, tempus mauris ac, aliquet ante. Maecenas iaculis felis luctus bibendum fermentum. Duis at viverra nunc. Vestibulum augue diam, molestie sed mollis ac, luctus a nulla. Sed gravida, nunc et facilisis mattis, dui eros molestie enim, non eleifend felis lorem ac justo. Donec at justo dictum, rutrum purus ut, congue magna. Sed id risus sagittis, adipiscing quam nec, venenatis dui. Aliquam id urna posuere, convallis nibh auctor, pharetra dolor. In hac habitasse platea dictumst. Nam id magna nisi. Aenean eget sollicitudin enim, sit amet vulputate metus. Sed vitae sem vel turpis malesuada suscipit.
      .footer
    %article.well
      %ul.header.list-inline
        %li
        %li
          Суб 02 Ноя 2013 06:02:25 
        %li
          = link_to '#14', '#'
      .body
        = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail pull-left'
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque, ipsum non ornare rutrum, sapien quam condimentum lectus, sed dignissim felis ligula et sem. Quisque sed nulla eget tellus sagittis facilisis. Proin cursus interdum vehicula. Sed massa justo, iaculis sit amet lacus ac, ultrices accumsan arcu. Duis scelerisque sit amet sem at pharetra. Suspendisse tincidunt ligula sem, in vulputate metus mollis id. Phasellus mollis eros nisi, at fringilla leo commodo in. Sed dignissim facilisis placerat. Sed hendrerit dolor quis velit eleifend, a placerat turpis elementum. Donec a metus eu lectus lacinia sagittis vel eu nibh. Vestibulum varius lobortis metus a congue. Vestibulum accumsan felis sollicitudin, eleifend dui et, pulvinar ante. Suspendisse vitae rhoncus felis. Integer tempor, leo id lacinia adipiscing, erat purus mollis arcu, at mattis massa purus at arcu. Suspendisse vel velit ac ipsum volutpat auctor.
        %p
          Integer tristique eleifend nisi, non sodales eros egestas at. Nam eget tellus porttitor, tempus mauris ac, aliquet ante. Maecenas iaculis felis luctus bibendum fermentum. Duis at viverra nunc. Vestibulum augue diam, molestie sed mollis ac, luctus a nulla. Sed gravida, nunc et facilisis mattis, dui eros molestie enim, non eleifend felis lorem ac justo. Donec at justo dictum, rutrum purus ut, congue magna. Sed id risus sagittis, adipiscing quam nec, venenatis dui. Aliquam id urna posuere, convallis nibh auctor, pharetra dolor. In hac habitasse platea dictumst. Nam id magna nisi. Aenean eget sollicitudin enim, sit amet vulputate metus. Sed vitae sem vel turpis malesuada suscipit.
      .footer
  .page-footer
    = link_to 'Создать тред', '#', class: 'btn btn-primary'
    .clearfix
    %ul.pagination
      %li.disabled= link_to '&laquo;'.html_safe, '#'
      %li.active= link_to '1', '#'
      %li= link_to '2', '#'
      %li= link_to '3', '#'
      %li= link_to '4', '#'
      %li= link_to '5', '#'
      %li= link_to '&raquo;'.html_safe, '#'
