%tr
  %td
  %td= user.id
  %td= user.last_sign_in_at
  %td= user.current_sign_in_at
  %td= user.current_sign_in_ip
  %td= user.last_sign_in_ip
  %td= user.locked_at
  %td
    = link_to lodge_user_path(user), class: "btn btn-danger", method: :delete, data: { confirm: "Уверены?" } do
      %span.glyphicon.glyphicon-trash
