%article{class: 'well', id: post.id}
  %ul.header.list-inline
    %li
    %li= Russian::strftime post.created_at, '%d %B %Y %H:%M:%S'
    %li
      = link_to post.tread.id.to_s.last(7), tread_path(post.tread.board.abbr, post.tread.id)
      = link_to "##{post.id.to_s.last(7)}", tread_path(post.tread.board.abbr, post.tread.id, {anchor: post.id})
  .body.row
    .col-md-2
      = link_to '#' do
        = image_tag '/sample/post-image.gif', class: 'img-responsive img-thumbnail'
    .col-md-10= post.content.html_safe
  .footer.post-form
    %button{class: 'btn btn-default btn-sm', id: 'answer', data: {abbr: post.tread.board.abbr, id: post.tread.id}} Ответить
    %button{class: 'btn btn-default btn-sm', id: 'hide', style: 'display: none;'}
      Скрыть форму
    #form
    