<ul class="header list-inline">
  <li>
    <a href="/<%= board_abbr %>/<%= _id.$oid %>"><h3><%= title %></h3></a>
  </li>
  <% if( is_pinned === true ) { %>
    <li>
      <span class="glyphicon glyphicon-pushpin"></span>
    </li>
  <% } %>
  <% if( is_commentable === false ) { %>
    <li>
      <span class="glyphicon glyphicon-lock"></span>
    </li>
  <% } %>
  <li><%= moment(published_at).format('D MMMM YYYY HH:mm:ss') %></li>
  <li>
    <a href="/<%= board_abbr %>/<%= _id.$oid %>">#<%= _id.$oid.substr(_id.$oid.length - 7) %></a>
  </li>
</ul>
<div class="body row">
  <% if(image) { %>
    <div class="col-md-2">
      <a href="<%= image %>" class="attachment"><img class="img-responsive img-thumbnail" src="<%= image_thumb %>">
      </a>
    </div>
  <% } %>
  <div class="col-md-10"><%= content %></div>
</div>
<div class="footer post-form">
  <% if(replies) {%>
    <ul class="list-inline">
      <li>
        <small>Ответы:</small>
      </li>
      <% replies.forEach( function (arrayItem) { %>
        <%
          var tread_id = arrayItem.tread_id.$oid
          var link = tread_id
          var short = tread_id.substr(tread_id.length - 7)
          if(arrayItem.post_id){
            var post_id = arrayItem.post_id.$oid
            link += '#' + post_id
            short += '#' + (post_id.substr(post_id.length - 7))
          }
        %>
        <li class='reply'>
          <a class="text-muted" href="/<%= arrayItem.board_abbr %>/<%= link %>"><small>&gt;&gt;<%= short %></small>
          </a>
        </li>
      <% }) %>
    </ul>
  <% } %>
  <% if( is_commentable === true ) { %>
    <button class="btn btn-default btn-sm" data-abbr="<%= window.location.pathname.split('/')[1] %>" data-id="<%= _id.$oid %>" id="answer">Ответить</button>
    <button class="btn btn-default btn-sm" id="hide" style="display: none;">
      Скрыть форму
    </button>
    <div id="form"></div>
  <% } %>
</div>
