/ Navigation
%nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Показать/Скрыть навигацию
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Deadchan', lodge_path, class: 'navbar-brand'
  / /.navbar-header
  %ul.nav.navbar-top-links.navbar-right
    %li
      = link_to lodge_rails_settings_ui_path do
        %i.fa.fa-gear.fa-fw
        Настройки
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-user.fa-fw
        %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-user
        %li
          = link_to destroy_admin_session_path, method: :delete do
            %i.fa.fa-sign-out.fa-fw
            Выйти
      / /.dropdown-user
    / /.dropdown
  / /.navbar-top-links
  .navbar-default.sidebar{:role => "navigation"}
    .sidebar-nav.navbar-collapse
      %ul#side-menu.nav
        %li
          = link_to lodge_path do
            %i.fa.fa-dashboard.fa-fw
            Dashboard
        %li
          %a{:href => "#"}
            %i.fa.fa-sitemap.fa-fw
            Борды
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li= link_to 'Список', lodge_boards_path
            %li= link_to 'Создать', new_lodge_board_path
          / /.nav-second-level
        %li
          %a{:href => "#"}
            %i.fa.fa-sitemap.fa-fw
            Треды
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li= link_to 'Список', lodge_treads_path
            %li= link_to 'Создать', new_lodge_tread_path
          / /.nav-second-level
        %li
          %a{:href => "#"}
            %i.fa.fa-sitemap.fa-fw
            Баны
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li= link_to 'Список', lodge_bans_path
            %li= link_to 'Создать', new_lodge_ban_path
          / /.nav-second-level
    / /.sidebar-collapse
  / /.navbar-static-side
