!!! 5
%html{lang: 'ru'}
  %head
    %title= full_title(yield(:title))
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: "#{Settings.site_description}"}
    %meta{name: "keywords", content: "#{Settings.site_keywords}"}

    %meta{content: "#{Settings.site_name}", property: "og:title"}
    %meta{content: "#{request.url || 'http://deadchan.net/'}", property: "og:url"}
    %meta{content: "#{image_path('logo.png')}", property: "og:image"}
    %meta{content: "#{Settings.site_description}", property: "og:description"}
    %meta{content: "Deadchan", property: "og:site_name"}

    %link{href: "#{image_path('logo.png')}", rel: "image_src"}
    %link{href: "#{request.url || 'http://deadchan.net/'}", rel: "canonical"}
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'normalize'
    = javascript_include_tag 'modernizr-2.6.2.min'
    = javascript_include_tag 'application'
  %body{class: "#{controller.controller_name}"}
    /[if lt IE 8]
      %p.browsehappy
        Use <a href="http://browsehappy.com/">browser</a>, Luke.
    = render 'layouts/spinner'
    .container
      %header
        = render 'layouts/header'
      .row
        .col-lg-12.col-md-12
          = render 'layouts/messages'
          = yield
      %footer
        = render 'layouts/footer'
    = render 'layouts/modal'
    = render 'layouts/counters'
