!!! 5
%html{lang: 'ru'}
  %head
    %title Deadchan - Админка
    %meta{charset: "utf-8"}
  = stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => true
  = stylesheet_link_tag 'vendor/normalize', "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
%body
  %header
    = render 'layouts/lodge/header'
  .row
    .col-md-2.sidebar= render 'layouts/lodge/sidebar'
    .col-md-10
      = render 'layouts/messages'
      .well= yield
  %footer
    = render 'layouts/lodge/footer'